/* set style across all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh; 
    background-image: url('../assets/imgs/bg-img-2.jpg');
    background-size: cover;
}

header {
    /* set header to stick to top, webkit sticky for older browsers */
    position: -webkit-sticky;
    position: sticky;
    /* sets top position to 0/top)  */
    top: 0;
    /* top/bot padding 20px, l+r 30px */
    padding: 20px 30px;
    /*  */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* higher z index on top of stack */
    z-index: 99;
    text-shadow: 0 0 10px rgba(0,0,0,1.5);
}
header h1 {
    font-size: 36px;
    margin: 0
}
header a {
    /* remove underline from link text */
    text-decoration: none;
    color: #fce138;
    font-weight: bold;
}
header nav ul {
    /* allows ul items to wrap, removes bullet notes */
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
header nav ul li {
    /* set padding so links are spaced apart */
    padding: 10px 15px;
    font-size: 20px;
}


main {
    padding: 20px;
    height: max-content;
}

.welcome {
    padding: 10px;
    border-radius: 10px;
    width: 30vw;
    background-color: #024e76;
    color: #fce138;
    z-index: 98;
}

.slideshow {
    width: 600px;
    height: 337px;
    background: url('../assets/imgs/bg-img-1.jpg');
    background-size: cover;
    animation: slide 30s infinite;
    margin-left: 100px;
    margin-top: 50px;
    border: #fce138 solid 3px;
    border-radius: 10px;

}
@keyframes slide {
    25% {
        background: url('../assets/imgs/bg-img-3.jpg');
    }
    50% {
        background: url('../assets/imgs/bg-img-4.jpg');
    }
    75% {
        background: url('../assets/imgs/bg-img-5.jpg');
    }
    100% {
        background: url('../assets/imgs/bg-img-1.jpg');
    }
}


@media screen and (max-width: 980px) {
    header {
        justify-content: center;
    }
    header h1{
        width: 100%;
        text-align: center;
    }
    header nav{
        /* makes nav fill out full header width */
        margin-top: 20px;
        width: 100%;
    }
    header nav ul {
        /* center everything inside the ul element */
        justify-content: center;
    }

    /* .welcome {
        width: min-content;
    } */

    /* .slideshow {
        width: 450px;
        height: 253;
        position: relative;
        bottom: 200px;

    } */
}

@media screen and (max-width: 450px) {
    .slideshow {
        width: 250;
        height: 141;

    }
}